/* line 23, ../compass/sass/styles.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 28, ../compass/sass/styles.scss */
#map {
  position: absolute;
  top: 5px;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

/* line 36, ../compass/sass/styles.scss */
#stop {
  z-index: 800;
  position: absolute;
  right: 0;
  top: 150px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ddd;
  opacity: 0.7;
  color: #000;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

@font-face {
  font-family: Zombie;
  src: url("../../fonts/ZOMBIE.TTF");
}
/* line 57, ../compass/sass/styles.scss */
#danger_meter, #scoreboard {
  font-family: Zombie, arial;
}

/* line 61, ../compass/sass/styles.scss */
.chainsaw-cursor {
  cursor: url("../../fonts/chainsaw.png"), default !important;
}

/* line 65, ../compass/sass/styles.scss */
.bomb-cursor {
  cursor: url("../../fonts/crosshair.png") 32 32, default !important;
}

/* line 69, ../compass/sass/styles.scss */
h1, h2 {
  font-family: Zombie, arial;
  text-align: center;
}

/* line 74, ../compass/sass/styles.scss */
.leaflet-marker-icon {
  height: 20px;
  transition: all 1s linear;
}

/* line 79, ../compass/sass/styles.scss */
.menu_goodies {
  z-index: 801;
  position: relative;
}

/* line 83, ../compass/sass/styles.scss */
.menu_opener {
  display: none;
}

/* line 86, ../compass/sass/styles.scss */
.menu_opener:checked ~ .link_one {
  top: 150px;
}

/* line 89, ../compass/sass/styles.scss */
.menu_opener:checked ~ #scoreboard {
  left: 150px;
}

/* line 92, ../compass/sass/styles.scss */
.menu_opener:checked ~ .link_two {
  left: 345px;
}

/* line 95, ../compass/sass/styles.scss */
.menu_opener:checked ~ .link_three {
  top: 345px;
}

/* line 98, ../compass/sass/styles.scss */
.menu_opener:checked ~ .link_four {
  left: 150px;
}

/* line 101, ../compass/sass/styles.scss */
.menu_opener:checked ~ .barre_hamburger {
  opacity: 0;
}

/* line 104, ../compass/sass/styles.scss */
.menu_opener:checked ~ .menu_opener_label:after {
  transform: rotate(45deg);
  top: 33px;
  left: 13px;
}

/* line 109, ../compass/sass/styles.scss */
.menu_opener:checked ~ .menu_opener_label:before {
  transform: rotate(-45deg);
  top: 33px;
  left: 13px;
}

/* line 114, ../compass/sass/styles.scss */
.menu_opener:checked ~ .menu_opener_label {
  width: 75px;
  height: 75px;
  top: 235.5px;
  left: 235.5px;
}

/* line 120, ../compass/sass/styles.scss */
.menu_opener_label {
  background: #FFA240;
  width: 100px;
  height: 100px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 225px;
  left: 225px;
  z-index: 10;
  transition: all .4s ease;
}

/* line 133, ../compass/sass/styles.scss */
.menu_opener_label:after {
  position: absolute;
  top: 30px;
  left: 25px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 144, ../compass/sass/styles.scss */
.menu_opener_label:before {
  position: absolute;
  top: 60px;
  left: 25px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 155, ../compass/sass/styles.scss */
.barre_hamburger {
  width: 50px;
  height: 10px;
  position: absolute;
  top: 270px;
  left: 250px;
  background: #000;
  z-index: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 167, ../compass/sass/styles.scss */
.link_general, .link_one, .link_two, .link_three, .link_four {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 250px;
  background: #FFA240;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 191, ../compass/sass/styles.scss */
div.inside_content {
  text-align: center;
  margin: auto;
  line-height: 50px;
}

/* line 197, ../compass/sass/styles.scss */
a {
  text-decoration: none;
  color: #000;
  font-family: Arial;
}

/* line 203, ../compass/sass/styles.scss */
.inside_content img {
  margin-top: 13px;
  margin-right: 1px;
}

/* line 209, ../compass/sass/styles.scss */
.bomb-available {
  animation: flash 0.5s infinite;
}

@keyframes flash {
  0% {
    background-color: #FFA240;
  }
  50% {
    background-color: #F27002;
  }
  100% {
    background-color: #FFA240;
  }
}
/* line 219, ../compass/sass/styles.scss */
#scoreboard {
  height: 20px;
  width: 50px;
  position: absolute;
  z-index: 802;
  border-radius: 500px;
  top: 250px;
  left: 250px;
  background: #FFA240;
  text-align: center;
  line-height: 20px;
  opacity: 0;
  transition: all .4s ease;
}

/* line 233, ../compass/sass/styles.scss */
.showMe {
  top: 315px !important;
  opacity: 1 !important;
  transition: all 1s linear;
}

/* line 239, ../compass/sass/styles.scss */
.pulseCustom {
  animation: pulse 1s ease-out infinite;
  transform-origin: 50% 50% !important;
}

/* line 244, ../compass/sass/styles.scss */
.pulseCustom2 {
  animation: pulse 1s ease-out;
  transform-origin: 50% 50% !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}
/* line 255, ../compass/sass/styles.scss */
#power {
  z-index: 10;
}

/* line 259, ../compass/sass/styles.scss */
.restartMove {
  left: 185px !important;
}

/* line 263, ../compass/sass/styles.scss */
.startMove {
  left: 315px;
}

/* line 267, ../compass/sass/styles.scss */
#message {
  position: absolute;
  top: 400px;
  left: -300px;
  width: 300px;
  height: 75px;
  background-color: #FFA240;
  z-index: 9000;
  transition: all .5s ease-in;
  border-radius: 5px;
}

/* line 279, ../compass/sass/styles.scss */
.message-text {
  font-family: Zombie, arial;
  text-align: center;
}

/* line 284, ../compass/sass/styles.scss */
.slide-in {
  transform: translateX(135%);
  -webkit-animation-fill-mode: forwards;
}

/* line 289, ../compass/sass/styles.scss */
.danger-wrapper {
  height: 50px;
  width: 50px;
  background: #FFA240;
  z-index: 801;
  position: absolute;
  left: 250px;
  top: 50px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  transition: all .5s ease;
}

/* line 304, ../compass/sass/styles.scss */
.glyph_size img {
  height: 26px;
  width: auto;
  z-index: 11;
}

/* line 311, ../compass/sass/styles.scss */
.bombMove {
  top: 315px;
}

/* line 315, ../compass/sass/styles.scss */
.chainsawMove {
  left: 410px !important;
  top: 315px;
}

/* line 320, ../compass/sass/styles.scss */
.mineMove {
  left: 410px !important;
}
