//  @import "compass/utilities";
//  @import "compass/css3";

// // CONFIGS
// // -------------------------------
// @import "configs/variables";

// // LAYOUT
// // -------------------------------
// @import "layout/layout";
// @import "layout/header";
// @import "layout/footer";

// // VIEWS
// // -------------------------------
// @import "views/home";
// @import "views/subscribe";
// @import "views/choices";
// @import "views/delivery";
// @import "views/payment";
// @import "views/account";

.leaflet-marker-icon{
	height: 20px;
	transition: all 1s linear;
}